<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FixtureMapping</key>
	<dict>
		<key>Fixture1</key>
		<dict>
			<key>StationName</key>
			<string>RHAC_01_01</string>
			<key>PLCName</key>
			<string>RHAC_01_01</string>
			<key>EnableStatus</key>
			<false/>
		</dict>
		<key>Fixture2</key>
		<dict>
			<key>StationName</key>
			<string>RHAC_01_02</string>
			<key>PLCName</key>
			<string>RHAC_01_02</string>
			<key>EnableStatus</key>
			<false/>
		</dict>
		<key>Fixture3</key>
		<dict>
			<key>StationName</key>
			<string>RHAC_01_03</string>
			<key>PLCName</key>
			<string>RHAC_01_03</string>
			<key>EnableStatus</key>
			<false/>
		</dict>
		<key>Fixture4</key>
		<dict>
			<key>StationName</key>
			<string>RHAC_01_04</string>
			<key>PLCName</key>
			<string>RHAC_01_04</string>
			<key>EnableStatus</key>
			<false/>
		</dict>
		<key>Fixture5</key>
		<dict>
			<key>StationName</key>
			<string>RHAC_02_01</string>
			<key>PLCName</key>
			<string>RHAC_02_01</string>
			<key>EnableStatus</key>
			<false/>
		</dict>
		<key>Fixture6</key>
		<dict>
			<key>StationName</key>
			<string>RHAC_02_02</string>
			<key>PLCName</key>
			<string>RHAC_02_02</string>
			<key>EnableStatus</key>
			<false/>
		</dict>
		<key>Fixture7</key>
		<dict>
			<key>StationName</key>
			<string>RHAC_02_03</string>
			<key>PLCName</key>
			<string>RHAC_02_03</string>
			<key>EnableStatus</key>
			<false/>
		</dict>
		<key>Fixture8</key>
		<dict>
			<key>StationName</key>
			<string>RHAC_02_04</string>
			<key>PLCName</key>
			<string>RHAC_02_04</string>
			<key>EnableStatus</key>
			<false/>
		</dict>
	</dict>
	<key>TestSetting</key>
	<dict>
		<key>ProductMode</key>
		<string>TEST</string>
		<key>RetestStrategy</key>
		<string>AAB</string>
		<key>RobotSpeed</key>
		<integer>100</integer>
	</dict>
	<key>AlarmSetting</key>
	<dict>
		<key>FailRate</key>
		<integer>10</integer>
		<key>AvailableFixture</key>
		<integer>1</integer>
	</dict>
	<key>AuditGRRSetting</key>
	<dict>
		<key>Units</key>
		<integer>10</integer>
		<key>Times</key>
		<integer>1</integer>
	</dict>
	<key>BinLocateSetting</key>
	<dict>
		<key>BIN1</key>
		<string></string>
		<key>BIN2</key>
		<string>1</string>
		<key>BIN3</key>
		<string>1</string>
		<key>BIN4</key>
		<string>1</string>
		<key>BIN5</key>
		<string>1</string>
	</dict>
	<key>IPAndPortSetting</key>
	<dict>
		<key>RobotIP</key>
		<string>127.0.0.2</string>
		<key>ConveyorIP</key>
		<string>127.0.0.1</string>
	</dict>
</dict>
</plist>
